<%-
  settings = {
    api_url: application_base_url,
    csrf_token: form_authenticity_token
  }


  # OAuth related params
  settings[:app_callback_url]     = user_canvas_omniauth_callback_url
  settings[:canvas_oauth_url]     = user_canvas_omniauth_authorize_url(host: Integrations::CanvasApiSupport.oauth_host)
  settings[:canvas_callback_url]  = user_canvas_omniauth_callback_url(host: Integrations::CanvasApiSupport.oauth_host)
  settings[:oauth_consumer_key] = current_application_instance.lti_key
  settings[:canvas_auth_required] = @canvas_auth_required
  settings[:canvas_url] = canvas_url
  settings[:has_global_auth] = current_application_instance.canvas_token.present?

  if signed_in?
    settings[:user_id]      = current_user.id
    settings[:email]        = current_user.email
    settings[:display_name] = current_user.display_name

    # LMS related params
    settings[:lti_user_id] = current_user.lti_user_id
    settings[:lms_user_id] = current_user.lms_user_id

    if @lti_launch
      settings[:lti_launch_config] = @lti_launch.config
    end

    # Adds LTI Advantage values to settings
    @lti_advantage_examples.add_to_settings(settings) if @lti_advantage_examples.present?

    if params["id_token"].present?
      # LTI 1.3 Launch
      settings[:id_token] = params["id_token"]
    elsif @is_lti_launch
      # LTI 1.0 - 1.2 Launch
      settings[:oauth_consumer_key]                     = params[:oauth_consumer_key]
      settings[:lms_course_id]                          = params[:custom_canvas_course_id]
      settings[:lti_provider]                           = lti_provider
      settings[:lms_course_name]                        = params[:context_title]

      # LTI parameters
      settings[:context_id]                             = params["context_id"]
      settings[:context_label]                          = params["context_label"]
      settings[:context_title]                          = params["context_title"]
      settings[:custom_canvas_api_domain]               = params["custom_canvas_api_domain"]
      settings[:custom_canvas_course_id]                = params["custom_canvas_course_id"]
      settings[:custom_canvas_account_id]               = params["custom_canvas_account_id"]
      settings[:custom_canvas_enrollment_state]         = params["custom_canvas_enrollment_state"]
      settings[:custom_canvas_user_id]                  = params["custom_canvas_user_id"]
      settings[:custom_canvas_user_login_id]            = params["custom_canvas_user_login_id"]
      settings[:ext_roles]                              = params["ext_roles"]
      settings[:launch_presentation_document_target]    = params["launch_presentation_document_target"]
      settings[:launch_presentation_height]             = params["launch_presentation_height"]
      settings[:launch_presentation_locale]             = params["launch_presentation_locale"]
      settings[:launch_presentation_return_url]         = params["launch_presentation_return_url"]
      settings[:launch_presentation_width]              = params["launch_presentation_width"]
      settings[:lis_course_offering_sourcedid]          = params["lis_course_offering_sourcedid"]
      settings[:lis_person_contact_email_primary]       = params["lis_person_contact_email_primary"]
      settings[:lis_person_name_family]                 = params["lis_person_name_family"]
      settings[:lis_person_name_full]                   = params["lis_person_name_full"]
      settings[:lis_person_name_given]                  = params["lis_person_name_given"]
      settings[:lis_person_sourcedid]                   = params["lis_person_sourcedid"]
      settings[:lti_message_type]                       = params["lti_message_type"]
      settings[:lti_version]                            = params["lti_version"]
      settings[:oauth_callback]                         = params["oauth_callback"]
      settings[:resource_link_id]                       = params["resource_link_id"]
      settings[:resource_link_title]                    = params["resource_link_title"]
      settings[:roles]                                  = current_user_roles(context_id: params[:context_id])
      settings[:tool_consumer_info_product_family_code] = params["tool_consumer_info_product_family_code"]
      settings[:tool_consumer_info_version]             = params["tool_consumer_info_version"]
      settings[:tool_consumer_instance_contact_email]   = params["tool_consumer_instance_contact_email"]
      settings[:tool_consumer_instance_guid]            = params["tool_consumer_instance_guid"]
      settings[:tool_consumer_instance_name]            = params["tool_consumer_instance_name"]
      settings[:user_image]                             = params["user_image"]
      settings[:content_items]                          = params["content_items"]

      # Outcome LTI parameters
      if params["lis_outcome_service_url"].present?
        settings[:lis_result_sourcedid]    = params["lis_result_sourcedid"]
        settings[:lis_outcome_service_url] = params["lis_outcome_service_url"]
      end

      # Content Item LTI parameters
      if params["content_item_return_url"].present?
        settings[:accept_media_types] = params["accept_media_types"]
        settings[:accept_multiple] = params["accept_multiple"]
        settings[:accept_presentation_document_targets] = params["accept_presentation_document_targets"]
        settings[:accept_unsigned] = params["accept_unsigned"]
        settings[:content_item_return_url] = params["content_item_return_url"]

        settings[:lti_launches_url] = lti_launches_url
      end
    end
  end
%>
<script type="text/javascript">
  window.DEFAULT_SETTINGS = <%= settings.to_json.html_safe %>;
  window.DEFAULT_JWT = '<%= signed_in? ? jwt_token : "" %>';
</script>
