<%-
  settings = {
    api_url: application_base_url,
    csrf_token: form_authenticity_token
  }
  if signed_in?
    settings[:user_id]             = current_user.id
    settings[:email]               = current_user.email
    settings[:display_name]        = current_user.display_name
    settings[:lti_key]             = current_application_instance.lti_key
    settings[:user_canvas_domains] = current_user.authentications.pluck(:provider_url)
    settings[:sign_out_url]        = destroy_user_session_url

    # OAuth related params
    settings[:app_callback_url]     = user_canvas_omniauth_callback_url
    settings[:canvas_oauth_url]     = user_canvas_omniauth_authorize_url(host: Integrations::CanvasApiSupport.oauth_host)
    settings[:canvas_callback_url]  = user_canvas_omniauth_callback_url(host: Integrations::CanvasApiSupport.oauth_host)
  end
%>
<script type="text/javascript">
  window.DEFAULT_SETTINGS = <%= settings.to_json.html_safe %>;
  window.DEFAULT_JWT = '<%= signed_in? ? jwt_token : "" %>';
</script>
